<div class="row">
  <div class = "column">
  <p><%= link "← go back", to: "/" %></p>

   <h2> Palindrome Result </h2>

   <p> input = <%= @x %> </p>
   
   <p> Palindrome = <%= @y %> </p>
  </div>
</div>

